<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Notre Blog</h2>
            <ul>
                <li><a routerLink="/">Accueil</a></li>
                <li class="active">Blog</li>
            </ul>
        </div>
    </div>
</div>

<section class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Derniers Articles</h2>
            <p>Découvrez nos dernières actualités, conseils et analyses sur les tendances du secteur.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let blog of blogs">
                <div class="single-blog">
                    <div class="blog-img">
                        <a [routerLink]="['/blog-details', blog.id]">
                            <img [src]="blog.image" [alt]="blog.title">
                        </a>
                    </div>

                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li>
                                <i class="bx bx-calendar"></i>
                                {{blog.meta.date}}
                            </li>
                            <li>
                                <i class="bx bx-user"></i>
                                {{blog.meta.author}}
                            </li>
                        </ul>

                        <h3>
                            <a [routerLink]="['/blog-details', blog.id]">{{blog.title}}</a>
                        </h3>
                        <p>{{blog.excerpt}}</p>

                        <a [routerLink]="['/blog-details', blog.id]" class="read-more">
                            Lire la suite
                            <i class="bx bx-right-arrow-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
