<footer class="footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="content">
                    <div class="logo">
                        <a routerLink="/">
                            <img [src]="footerData?.logo.image" alt="Beyond Expertise" />
                        </a>
                    </div>
                    <p>{{footerData?.logo.description}}</p>
                    <p class="slogan">{{footerData?.logo.slogan}}</p>
                    <ul class="social">
                        <li *ngIf="footerData?.social.facebook">
                            <a [href]="footerData?.social.facebook" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li *ngIf="footerData?.social.twitter">
                            <a [href]="footerData?.social.twitter" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li *ngIf="footerData?.social.instagram">
                            <a [href]="footerData?.social.instagram" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li *ngIf="footerData?.social.linkedin">
                            <a [href]="footerData?.social.linkedin" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copy-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>{{footerData?.copyright.text}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top">
    <i class='bx bx-chevrons-up'></i>
    <i class='bx bx-chevrons-up'></i>
</div>
