<footer class="footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="content">
                    <div class="logo">
                        <a routerLink="/">
                            <img [src]="footerData?.logo.image" alt="Beyond Expertise" />
                        </a>
                    </div>
                    <p>{{footerData?.logo.description}}</p>
                    <p class="slogan">{{footerData?.logo.slogan}}</p>
                    <ul class="social">
                        <li *ngIf="footerData?.social.facebook">
                            <a [href]="footerData?.social.facebook" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li *ngIf="footerData?.social.twitter">
                            <a [href]="footerData?.social.twitter" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li *ngIf="footerData?.social.instagram">
                            <a [href]="footerData?.social.instagram" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li *ngIf="footerData?.social.linkedin">
                            <a [href]="footerData?.social.linkedin" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <ng-container *ngFor="let section of footerData?.sections">
                <div class="col-lg-4 col-md-6">
                    <div class="content" [ngClass]="{'ml-15': section.title === 'Nos services'}">
                        <h3>{{section.title}}</h3>
                        <ul class="footer-list">
                            <li *ngFor="let link of section.links">
                                <a [routerLink]="link.url">{{link.text}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="copy-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="menu">
                        <li *ngFor="let item of footerData?.mainMenu">
                            <a [routerLink]="item.url">{{item.text}}</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <p>{{footerData?.copyright.text}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top">
    <i class='bx bx-chevrons-up'></i>
    <i class='bx bx-chevrons-up'></i>
</div>
